<form [formGroup]="form" (ngSubmit)="submit()">

  <select formControlName="apiType" (change)="loadCurrencies()">
    <option value="Nbp">NBP</option>
  </select>

  <select formControlName="from">
    <option *ngFor="let c of currencies" [value]="c.code">
      {{ c.display }}
    </option>
  </select>

  <select formControlName="to">
    <option *ngFor="let c of currencies" [value]="c.code">
      {{ c.display }}
    </option>
  </select>

  <input type="date" formControlName="fromDate">
  <input type="date" formControlName="toDate">

  <button type="submit">Przelicz</button>
</form>

<div *ngIf="loading">Ładowanie...</div>
<div *ngIf="error">{{ error }}</div>

<div *ngIf="result$ | async as result">
  <ng-container *ngIf="result">
    <p>Min: {{ result.min }}</p>
    <p>Max: {{ result.max }}</p>
    <p>Avg: {{ result.avg }}</p>

    <table>
      <tr *ngFor="let r of result.rates">
        <td>{{ r.date }}</td>
        <td>{{ r.rate }}</td>
      </tr>
    </table>
  </ng-container>  
</div>
